@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

:root{
    --titleFont: 'Inconsolata', monospace;
    --textFont: 'Merriweather Sans', sans-serif;
    --btnFont: 'Signika Negative', sans-serif;
    --crema: #f6f4ef;
}

.informacion{
    padding-top: 115px;
    display:flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.informacion__contenedor{
    padding: 40px;

    background: var(--crema);
    border: 5px;
    border-style: double;
    border-radius: 50px;
    box-shadow: -2px 6px 20px 6px rgba(2, 2, 2, 0.689);

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.informacion__contenedor--titulo{
    padding-bottom: 10px;
    padding-top: 10px;
}

.informacion__contenedor--subtitulo{
    padding-bottom: 10px;
}

.titulo--1, 
.titulo--2{
    font-family: var(--titleFont);
    font-size: 1.5em;
}

.titulo--2{
    color:blue;
}

.titulo--animado{
    animation:  changeColor 5s infinite normal;
    animation-direction: alternate;
}

@keyframes changeColor {
    from {color:blue;}
    to {color:blueviolet;}
}

.informacion__contenedor--texto{
    padding: 5px 15px 20px 15px;
}

.texto__label{
    text-align: left;
    font-size: 1.3em;
    font-family: var(--textFont);
    padding: 15px 0 15px 0;
}

.texto{
    text-align: justify;
    font-size: 1em;
    font-family: var(--textFont);
}

.copyText,
.copyText--1{
    color: red;
    font-size: 1em;
    font-family: var(--textFont);
    font-weight: 800;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    display: inline-block;
}

.copyText--1{
    padding: 0 0 10px 10px;
}

.copyText:focus,
.copyText--1:focus{
    border: none;
    outline: none;
}

.copyText:active,
.copyText--1:active{
    border: none;
    outline: none;
}

.copyText .message,
.copyText--1 .message--1{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.copyText .message::after,
.copyText--1 .message--1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.informacion__contenedor--btn{
    font-size: 1.3em;
    font-family: var(--btnFont);
	text-decoration: none;
	text-align: center;
    color: white;
    
    border-radius: 50px;
	background: #147114;
	box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 65%);
    
    padding: 18px 17px 18px 17px;
	margin: auto;
	display:inline-block;
}

.informacion__contenedor--btn:hover{
    background: #2BD204;
    color: black;
}

.informacion__contenedor--nota{
    padding: 30px 0 0 0;
    font-size: 0.7em;
    display:flex;
    flex-wrap: wrap;
	justify-content: left;
	align-items: left;
    text-align: left;
}

.note{
    animation:  colorChange 5s infinite normal;
    animation-direction: alternate;
}

@keyframes colorChange {
    from {color:black;}
    to {color:red;}
}

.note--text{
    padding: 0 0 0 5px;
}

.note--code{
    animation:  changeColor 5s infinite normal;
    animation-direction: alternate;
}

@media (max-width: 720px) {
    .informacion__contenedor--titulo{
        gap: 5px;
    }
    
    .titulo--1,
    .titulo--2{
        font-size: 1em;
    }

    .texto__label{
        font-size: 1em;
    }

    .informacion__contenedor--btn{
        font-size: 1em;
        margin: 10px;
    }
}