@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

:root{
    --titleFont: 'Inconsolata', monospace;
    --textFont: 'Merriweather Sans', sans-serif;
    --btnFont: 'Signika Negative', sans-serif;
    --crema: #f6f4ef;
}

.informacion{
    padding-top: 115px;
    display:flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.informacion__contenedor{
    padding: 15px;
    padding-bottom: 20px;
    width: 50vw;

    background: var(--crema);
    border: 5px;
    border-style: double;
    border-radius: 50px;
    box-shadow: -2px 6px 20px 6px rgba(2, 2, 2, 0.689);

    display:flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.informacion__contenedor--titulo{
    padding-bottom: 10px;
    padding-top: 10px;
}

.informacion__contenedor--subtitulo{
    padding-bottom: 10px;
}

.titulo--1, 
.titulo--2{
    font-family: var(--titleFont);
    font-size: 1.3em;
}

.titulo--2{
    color:blue;
}

.titulo--animado{
    animation:  changeColor 5s infinite normal;
    animation-direction: alternate;
}

@keyframes changeColor {
    from {color:blue;}
    to {color:blueviolet;}
}

.informacion__contenedor--texto{
    padding: 20px;
}

.texto__label{
    text-align: left;
    font-size:large;
    font-family: var(--textFont);
}

.texto{
    padding-top: 15px;
    text-align: justify;
    font-size: medium;
    font-family: var(--textFont);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.informacion__contenedor--btn{
    font-size: 1.3em;
    font-family: var(--btnFont);
	text-decoration: none;
	text-align: center;
    color: white;
    
    border-radius: 50px;
	background: #147114;
	box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 65%);
    
    padding: 15px;
	margin: 15px;
	display:inline-block;
}

.informacion__contenedor--btn:hover{
    background: #2BD204;
    color: black;
}

@media (max-width: 720px) {
    .informacion__contenedor--titulo{
        gap: 5px;
    }
    
    .titulo--1,
    .titulo--2{
        font-size: 0.8em;
    }

    .informacion__contenedor--btn{
        font-size: 1em;
        margin: 10px;
    }
}